/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem,sans-serif;
    font-family: 'Open Sans', 'ans-serif';
    margin: 0;
    font-weight: 300;
    text-transform: capitalize;
}
h1,h2,h3,p,figure,ul,ol,section, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none; 
}
a, abbr{
    text-decoration: none;
}
h1,h2,h3{
    font-weight: 700;
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
nav ul{
    padding-top: 2rem;
    max-width: 80rem;
    margin: 0 auto 2rem;
    font-size: 0;
}
nav ul li{
    display: inline-block;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.6rem;
    width: calc(100% / 4);
    
}
nav ul li a{
    display: block;
    width: 100%;
    color: #222;
    transition: all 500ms ease-in-out;
}
nav ul li:hover a{
    background-color: #347B98;
    color: #fff;
}
header{
    text-align: center;
    background-color: #347B98;
    font-size: 2.6rem;
    padding: 1.6rem 0 1.6rem 0;
}
header img{
    max-width: 6rem;
    vertical-align: bottom;
    margin: 0 auto;
}
main{
    padding-bottom: 2rem;
}
main section{
    font-size: 2rem;
    max-width: 100rem;
    margin: 4rem auto;
    background-color: #E4F1F6;
    border-radius: .5rem;
    box-shadow: .3rem .6rem 1.3rem -.2rem rgba(0,0,0,0.74);

}
main section h2{
    font-size: 2rem;
    margin: 0 auto;
    background-color: #67AFCB;
    padding: 1rem 0 1rem .5rem;
    border-radius: .5rem;
}
main section p{
    padding: 2.6rem 2.6rem 2.6rem 2.6rem;
}
main section ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
main section ul li{
    margin: 0 auto;
    max-width: 90%;
}
main section ul li img{
    max-width: 100%;
    transition-duration: .6s;
    transform: scale(1);
}
main section ul li img:hover{
    max-width: 100%;
    transform: scale(1.2);
    z-index: 3;
}
footer{
    text-align: center;
    background-color: #092834;
    color: #67AFCB;
    font-size: 1.6rem;
    padding: 3rem;
}
@media screen and (max-width: 70.0rem) {
    /*main section ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }*/
    nav ul li{
        display: none;
        grid-template-columns: repeat(1, 1fr);
        line-height: 4.5rem;
        text-align: center;
        font-size: 1.6rem;
        margin: 0 auto;
        width: 100%;
    }
    .open-menu ul li{
        display: grid;
    }
}