/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem,sans-serif;
    font-family: 'Open Sans', 'ans-serif';
    margin: 0;
    font-weight: 300;
    text-transform: capitalize;
    background: #222222;
}
h1,h2,h3,p,figure,ul,ol,section, address{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none; 
}
a, abbr{
    text-decoration: none;
}
h1,h2,h3{
    font-weight: 700;
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
nav {
    padding-top: 1.5rem;
    position: relative;
    height: 0rem;
}
nav ul{
    padding-top: 2rem;
    max-width: 80rem;
    margin: 0 auto 2rem;
    font-size: 0;
}
nav ul li{
    display: inline-block;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.6rem;
    width: calc(100% / 4);
    
}
nav ul li a{
    display: block;
    width: 100%;
    color: #fff;
    transition: all 500ms ease-in-out;
}
nav ul li:hover a{
    background-color: #2249A7;
    color: #fff;
}
header{
    width: 100%;
    height: 100vh;
    background-color: #222;
    text-align: center;
    font-size: 2.6rem;
}
header h1{
    height: 0rem;
    position: relative;
    top: 50%;
    color: #fff;
    font-size: 5rem;
}
main{
    color: #fff;
    padding-bottom: 2rem;
    background: #222222;
}
main section{
    font-size: 2rem;
    max-width: 100rem;
    margin: 4rem auto;
    background-color: #333;
    border-radius: .5rem;
    box-shadow: .3rem .6rem 1.3rem -.2rem rgba(0,0,0,0.74);

}
main section h2{
    font-size: 2rem;
    margin: 0 auto;
    background-color: #2249A7;
    padding: 1rem 0 1rem .5rem;
    border-radius: .5rem;
}
main section h3{
    text-align: center;
}
main section p{
    padding: 2.6rem 2.6rem 2.6rem 2.6rem;
}
main section ul{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
main section:nth-child(3) ul{
    grid-template-columns: repeat(2, 1fr);
}
main section:nth-child(4) ul{
    grid-template-columns: repeat(2, 1fr);
}
main section:nth-child(4) ul li{
    width: 100%;
}
main section:nth-child(4) ul li img{
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    max-height: 25rem;
}
main section:nth-child(5) img{
    display: block;
    margin: 0 auto;
}


main section ul li img{
    max-width: 10rem;
    transition-duration: .6s;
    transform: scale(1);
}
main section ul li{
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
.webgl
{
    outline: none;
    max-width: 50rem;
    max-height: 40rem;
}


.none{
    border: solid 0rem;
}
footer{
    text-align: center;
    background-color: #222222;
    color: #fff;
    font-size: 1.6rem;
    padding: 3rem;
}
footer address ul{
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer address ul li{
    border-right: solid .1rem #fff;
}
footer address ul li:last-child{
    border-right: solid 0rem #fff;
}
footer button{
    background-color: #2249A7;
    color: #fff;
    font-size: 1.6rem;
    padding: 1.5rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    margin-bottom: 2rem;
}
footer button:hover{
    background-color: #1b397f;
    color: #fff;
}
footer a {
    cursor: pointer;
    color: #fff;
    font-style: none;
    text-decoration: none;
}
.veille img{
    z-index: -1;
    width: 100%;
    height: 80vh;
}
.veille{
    height: 80vh;
}
.veille h1{
    top: -50%;
}
.veille_tech img{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 100%;
    
}
.veille_tech a{
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: underline;
    padding: 1rem;
}
.veille_tech h4{
    text-align: center;
    color: #fff;

}
a:visited{
    color: #fff;
}
@media screen and (max-width: 70.0rem) {
    /*main section ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }*/
    nav ul li{
        display: none;
        grid-template-columns: repeat(1, 1fr);
        line-height: 4.5rem;
        text-align: center;
        font-size: 1.6rem;
        margin: 0 auto;
        width: 100%;
    }
    .open-menu ul li{
        display: grid;
    }
}